<div class="container">
    <h1>All Viruses</h1>
    <table class="table">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Magnitude</th>
            <th>Released On</th>
        </tr>
        <th:block th:each="virus, indexer : ${viewModel}">
            <tr>
                <td th:text="${indexer.index + 1}"></td>
                <td th:text="${virus.name}"></td>
                <td th:text="${virus.magnitude}"></td>
                <td th:text="${#temporals.format(virus.releasedOnDate,'dd-MMM-yyyy')}"></td>
                <td>
                    <a class="btn" th:href="@{/virus/edit/{id}(id=${virus.id})}">Edit</a>
                    <a class="btn" th:href="@{/virus/delete/{id}(id=${virus.id})}">Delete</a>
                </td>
            </tr>
        </th:block>
    </table>
</div>