<div class="container">
    <h1 class="text-center">Edit Virus</h1>
    <hr class="bg-resev"/>
    <form class="w-40 mx-auto" th:method="post" th:object="${viewModel}" th:action="@{/virus/edit/{id}(id=*{id})}">

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" th:value="*{getName()}" >
            <small th:if="${#fields.hasErrors('name')}" id="nameHelp" class="form-text text-danger">
                Field should be between 3 and 10 symbols
            </small>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea rows="3" type="text" style="resize: none" class="form-control" id="description"
                      name="description" th:text="*{getDescription()}"></textarea>
            <small th:if="${#fields.hasErrors('description')}" id="descriptionHelp" class="form-text text-danger">
                Field should be between 5 and 100 symbols
            </small>
        </div>

        <div class="form-group">
            <label for="sideEffect">Side Effect</label>
            <input type="text" class="form-control" id="sideEffect"
                   name="sideEffect" th:value="*{getSideEffect()}">
            <small th:if="${#fields.hasErrors('sideEffect')}" id="sideEffectHelp" class="form-text text-danger">
                Field should have a maximum of 50 symbols
            </small>
        </div>

        <div class="form-group">
            <label for="creator">Creator</label>
            <input type="text" class="form-control" id="creator"
                   name="creator" th:value="*{getCreator()}">
            <small th:if="${#fields.hasErrors('creator')}" id="creatorHelp" class="form-text text-danger">
                Creator should be either 'Corp' or 'corp'
            </small>
        </div>

        <div class="form-group">
            <input type="checkbox" name="isDeadly" id="isDeadly" th:value="*{isDeadly()}">
            <label for="isDeadly">Is Deadly?</label>
            <br>

            <input type="checkbox" name="isCurable" id="isCurable" th:value="*{isCurable()}">
            <label for="isCurable">Is Curable?</label><br><br>
        </div>
        <div class="form-group">
            <ul>
                <li th:each="mutation : ${T(com.softuni.residentevil.enums.Mutation).values()}">
                    <input type="radio" th:field="*{mutation}" th:value="${mutation}"/>
                    <label th:for="${mutation}" th:text="${mutation}"></label>
                </li>
            </ul>
            <small th:if="${#fields.hasErrors('mutation')}" id="mutationHelp" class="form-text text-danger">
                Mutation cannot be null
            </small>
        </div>
        <br>
        <br>
        <div class="form-group">
            <label for="turnoverRate">Turnover Rate</label>
            <input type="number" value="0" class="form-control" id="turnoverRate"
                   name="turnoverRate" th:value="*{getTurnoverRate()}">
            <small th:if="${#fields.hasErrors('turnoverRate')}" id="turnoverRateHelp" class="form-text text-danger">
                Turnover Rate should be a number between 0 - 100
            </small>
        </div>

        <div class="form-group">
            <label for="hoursUntilMutation">Hours Until Turn</label>
            <input type="number" value="1" class="form-control" id="hoursUntilMutation"
                   name="hoursUntilMutation" th:value="*{getHoursUntilMutation()}">
            <small th:if="${#fields.hasErrors('hoursUntilMutation')}" id="hoursUntilMutationHelp"
                   class="form-text text-danger">
                Hours Until Turn should be a number between 1 - 12
            </small>
        </div>

        <select th:field="*{magnitude}">
            <option th:each="magnitude : ${T(com.softuni.residentevil.enums.Magnitude).values()}"
                    th:value="${magnitude}"
                    th:text="${magnitude}">
            </option>
        </select>
        <br>

        <div class="form-group">
            <label for="affectedCapitals">Affected Capitals</label>
            <select multiple class="form-control" id="affectedCapitals" name="affectedCapitals">
                <th:block th:each="capital : ${capitals}">
                    <option th:selected="${viewModel.affectedCapitals.contains(capital.id)}"
                            th:value="${capital.id}"
                            th:text="${capital.name}"></option>
                </th:block>
            </select>
            <small th:if="${#fields.hasErrors('affectedCapitals')}" id="affectedCapitalsHelp" class="form-text text-danger">
            </small>
        </div>

        <div class="button-holder d-flex justify-content-around">
            <button type="submit" class="btn btn-primary bg-resev">Edit Virus</button>
        </div>

    </form>
</div>