<div class="container">
    <h1>All Users</h1>
    <table class="table">
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Email</th>
            <th>Non Expired</th>
            <th>Non Locked</th>
            <th>Credentials<br/> Non Expired</th>
            <th>Enabled</th>
            <th>Role</th>
        </tr>
        <th:block th:each="user, indexer : ${viewModel}">
            <tr>
                <td th:text="${indexer.index + 1}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.isAccountNonExpired()}"></td>
                <td th:text="${user.isAccountNonLocked()}"></td>
                <td th:text="${user.isCredentialsNonExpired()}"></td>
                <td th:text="${user.isEnabled()}"></td>
                <th:block th:each="role: ${user.getAuthorities()}">
                    <td th:text="${role.getAuthority()}" />
                </th:block>
                <th:block sec:authorize="hasAnyAuthority('ROOT', 'ADMIN')">
                    <td>
                        <a class="btn" th:href="@{/user/edit/{id}(id=${user.id})}">Edit</a>
                        <a class="btn" th:href="@{/user/delete/{id}(id=${user.id})}">Delete</a>
                    </td>
                </th:block>
            </tr>
        </th:block>
    </table>
</div>