<div class="container">
    <h1 class="text-center">Edit User</h1>
    <hr class="bg-resev"/>
    <form class="w-40 mx-auto" th:method="post" th:object="${viewModel}" th:action="@{/user/edit/{id}(id=*{id})}">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" th:field="*{username}" name="username" disabled>
        </div>

        <div class="form-group">
            <label for="isAccountNonExpired">Account Non Expired</label>
            <input type="checkbox" name="isAccountNonExpired" id="isAccountNonExpired" th:field="*{AccountNonExpired}" th:value="*{isAccountNonExpired()}">
        </div>
        <div class="form-group">
            <label for="isAccountNonLocked">Account Non Locked</label>
            <input type="checkbox" id="isAccountNonLocked" th:field="*{AccountNonLocked}" name="isAccountNonLocked">
        </div>
        <div class="form-group">
            <label for="isCredentialsNonExpired">Credentials Non Locked</label>
            <input type="checkbox" id="isCredentialsNonExpired" th:field="*{CredentialsNonExpired}" name="isCredentialsNonExpired">
        </div>
        <div class="form-group">
            <label for="isEnabled">Enabled</label>
            <input type="checkbox" id="isEnabled" th:field="*{Enabled}" name="isEnabled">
        </div>

        <select multiple id="authorities" name="authorities">
            <th:block th:each="role : ${roles}">
                <option th:selected="*{authorities}"
                        th:value="${role.id}"
                        th:text="${role.authority}">
                </option>
            </th:block>
        </select>

        <div class="button-holder d-flex justify-content-around">
            <button type="submit" class="btn btn-primary bg-resev">Save Changes</button>
        </div>

    </form>
</div>