<main class="main-content">
    <h1 class="text-center">Register</h1>
    <hr class="bg-resev hr-2"/>
    <form class="w-40 mx-auto" th:method="post" th:action="@{/register}">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username..." name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password..." name="password" required>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password..."
                   name="confirmPassword" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email..." name="email">
        </div>
        <div class="button-holder d-flex justify-content-around">
            <button type="submit" class="btn btn-primary bg-resev">Register</button>
        </div>
    </form>
</main>